

 .black-style-background {
  background-color: #212121;
  color: #FFFFFF;
  width: 100%;

}
.white-style-background {
  background-color: #F9F6F1;;
  color: #212121;
  width: 100%;
}

.content {
  width: 80%;
  margin: 0% 8%;
  text-align: center;
  font-size: 1rem;
}







.padding-2em {
  padding: 2rem;
}
.padding-4em {
  padding: 4rem;
}



.flex-4-2-1 {
  display: flex;
  flex-flow: row wrap;
}

.flex-2-1 {
  display: flex;
}
.flex-2-1 {
  display: flex;
  justify-content: center;
}
.flex-2-1-block{
  flex: 1;
}



.text1-7 {
  font-size: 1.7rem;
}

.cursor-pointer{
  cursor: pointer;
}

